@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'PFDinTextPro-Bold'; /* –У–∞—А–љ–Є—В—Г—А–∞ —И—А–Є—Д—В–∞ */
    src: url(../font/PFDinTextPro-Bold.ttf); /* –Я—Г—В—М –Ї —Д–∞–є–ї—Г —Б–Њ —И—А–Є—Д—В–Њ–Љ */
}
   
/* General */
* {
	outline: none !important;
}
html {
	overflow-x: hidden;
}

body {
    background-color: #fff;
    font-size: 10px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
img{
    border: none;
}

a {
    text-decoration: none;
}

.content-wrapper {
    margin: -10px auto;
    max-width: 1400px;
    min-width: 1024px;
    width: expression(document.body.clientWidth > 1400 ? '1400px' : '100%');
}
/** Header **/
#header {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 60px;
}

#logo {
    position: absolute;
    left: 0;
    top: 15px;
    width: 30%;
}

#add_post {
    position: absolute;
    width: 300px;
    height: 53px;
    left: 40.75%;
    top: 0;
    background-image: url('../img/add_post.png');
    margin: 0 auto;
}

#post_left {
    position: relative;
    float: left;
    width: 50%;
    height: 53px;
}

#post_left img {
    position: relative;
    top: 13px;
    left: 8px;
    float: left;
}

#post_right {
    position: relative;
    float: right;
    width: 50%;
    height: 53px;
}

#post_right img {
    position: relative;
    top: 13px;
    right: 8px;
    float: right;
}

#post_text_left {
    color: #FFF;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2em;
    width: 70%;
    position: relative;
    top: 13px;
    right: 5px;
    float: right;
}

#post_text_right {
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.2em;
    width: 70%;
    position: relative;
    top: 13px;
    left: 6px;
    float: left;
}

#profile {
    position: absolute;
    width: 30%;
    right: 0;
}

#name {
    font-size: 1.2em;
    color: #323232;
    position: absolute;
    top: 15px;
    right: 65px;
}

#login {
    font-size: 1.2em;
    color: #808080;
    position: absolute;
    top: 15px;
    right: 65px;
}

#login a:visited {
    color: #808080;
}

#login_form {
    display: none;
    color: red;
    position: absolute;
    right: -4px;
    z-index: 10;
}

#tools {
    font-size: 1.1em;
    color: #323232;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 160px;
}

#register {
    font-size: 1.1em;
    color: #808080;
    position: absolute;
    top: 35px;
    right: 20px;
    width: 160px;
}

#tools a {
    padding: 0 0 0 10px;
    font-size: 1em;
    color: #323232;
}

#profile_image img {
    padding-top: 5px;
    right: 0px;
    position: absolute;
}

 /** Menu Nav **/
#menu {
    position: relative;
    height: 34px;
    background: url('../img/menu_background.png') repeat-x;
}

#menu .nav {
    margin: 0 auto;
    width: 100%;
    height: 34px;
    position: relative;
    font-size: 1.3em;
    text-transform: uppercase;
    top: 10px;
}

#menu .nav a {
    color: #696969;
}

#menu .nav .item {
    width: 16.66%;
    float: left;
    text-align: center;
}

#menu .nav .first {
    text-align: left;
}

#menu .nav .last {
    text-align: right;
}

/** Advertisement A **/
.advertisementA {
    margin: 10px auto;
    width: 100%;
    height: auto;
}

/** Search **/
#search {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#search img {
    position: relative;
}

#search .left {
    font-size: 5em;
    font-family: PFDinTextPro-Bold;
    position: absolute;
    top: 25px;
    left: 0;
    width: 210px;
    font-weight: bolder;
    text-transform: uppercase;
}

#search .right {
    font-size: 5em;
    font-family: PFDinTextPro-Bold;
    position: absolute;
    top: 25px;
    right: 0;
    width: 380px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: right;
}

#search .button {
    position: absolute;
    right: 5px;
    bottom: 15px;
    width: 30%;
    height: auto;
    font-family: PFDinTextPro-Bold;
    font-size: 3em;
    text-align: center;
    color: white; 
    text-transform: uppercase;
}

#search .button p {
    position: absolute;
    width: 100%;
    left: auto;
    top: 0;
}


/** Auto catalog **/
#auto_catalog {
    height: 417px;
    margin: 0 auto;
    position: relative;
    background-color: #313233;
}

.categories {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 30%;
    height: 100%;
    color: #FFF;
    font-size: 1.4em;
}

.categories ul {
    list-style-type: none;
    position: relative;
    left: -40px;
    font-size: 0.8em;
    display: block;
}

.categories li {
    line-height: 200%;
}

.advertisementB {
    width: 219px;
    height: 217px;
    background-image: url('../img/advertisement B.png');
}

#shadow_left {
    position: absolute;
    left: 30%;
    height: auto;
}

#shadow_right {
    position: absolute;
    left: 68%;
    height: auto;
}

.announcement {
    position: absolute;
    left: 34%;
    top: 20px;
    width: 34%;
    height: 100%;
    color: #FFF;
    font-size: 1.4em;
}

.announcement ul {
    list-style-type: none;
    position: relative;
    left: -40px;
    font-size: 0.8em;
    width: 100%;
    display: block;
}

.announcement li {
    line-height: 200%;
    float: left;
}

#triple li {
    width:33.333%;
}

#search_auto_container {
    position: absolute;
    right: 40px;
    width: 30%;
    height: 100%;
}

.search_auto {
    position: absolute;
    top: -5px;
    padding-top: -10px;
    right: 6px;
    width: 220px;
    height: 111px;
    background-image: url('../img/tag.png');
    text-align: center;
}

.search_auto .tag_corner {
    background-image: url('../img/tag_corner.png');
    position: absolute;
    width: 10px;
    height: 5px;
    left: -9px;
}

.search_auto .car {
    background-image: url('../img/car.png');
    position: absolute;
    width: 188px;
    height: 79px;
    top: 25px;
    left: 10px;
}

.search_auto p {
    font-size: 1.2em;
    color: #FFF;
    position: relative;
    top: -5px;
}

/** Styled Select **/
.select select {
    background: transparent;
    color: #8a8a8a;
    width: 210px;
    padding: 5px;
    font-size: 1em;
    border: 0;
    height: 30px;
    -webkit-appearance: none;
} 

.select {
    width: 210px;
    height: 30px;
    background: url('../img/select.png') no-repeat 96%;
}

.select.mark {
    top: 120px;
    position: absolute;
    right: 10px;
}

.select.model {
    top: 160px;
    position: absolute;
    right: 10px;
}

input[type="text"] {
    padding: 5px;
    border: none;
    background-color: #323232;
    -moz-box-shadow: 0 0 3px #121212;
    -webkit-box-shadow: 0 0 3px #121212;
    box-shadow: 0 0 3px #121212;
    color: #bcbcbc;
}

.city {
    position: absolute;
    top: 200px;
    right: 13px;
}

.city input[type="text"] {
    height: 19px;
    width: 194px;
}

.city input[type="text"]:hover {
}

.year {
    position: absolute;
    top: 240px;
    right: 14px;
}

.year input[type="text"] {
    height: 19px;
    width: 49px;
    text-align: center;
}

.year span {
    color: #bcbcbc;
    margin: 0 10px;
}

span.left {
    margin-right: 18px;
}

.price {
    position: absolute;
    top: 280px;
    right: 14px;
}

.price input[type="text"] {
    height: 19px;
    width: 49px;
    text-align: center;
}

.price span {
    color: #bcbcbc;
    margin: 0 10px;
}

.photo_required {
    position: absolute;
    top: 320px;
    right: 114px;
    background-color: #323232;
}

.photo_required input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

.photo_required span {
    color: #bcbcbc;
    position: relative;
    top: -3px;
    font-size: 1.2em;
}

.advanced_search {
    color: #bcbcbc;
    position: absolute;
    top: 350px;
    right: 96px;
    font-size: 1.2em;
}

.search_button {
    position: absolute;
    top: 377px;
    right: 0;
    background-image: url('../img/search_button.png');
    width: 222px;
    height: 35px;
}

.search_button p {
    font-size: 1.6em;
    color: #FFF;
    position: relative;
    top: -12px;
    text-align: center;
    text-transform: lowercase;
    
}
/** BALISH STYLE START HERE **/
#item_selected{

}

/** ====cars browse ======**/
.cars_browse{
    position: relative;
    margin: 5px auto;
    height: 34px;
    /**background: url('../img/menu_background.png') repeat-x;**/
}
.cars_browse ul{
    display: inline-block;
    padding-left: 0px;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: left;
    /**color: #696969;**/
}
.cars_browse a{
    color: #696969;
}
.cars_browse a:hover{
    color: #368ccc;
}
/** ====ADVERT box ======**/

.advert_box{
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.advert_main{
    margin: 0px auto;
    position: relative;
    background-color: #313233;
    color: white;
    padding-bottom: 20px;
  /**  overflow: auto;**/
}
/** ====ADVERT main header ======**/
.adv_main_header{
    margin: 0 30px auto;
    position: relative;
}
.adv_mh_title{
    display: inline-block;
    position: relative;
    width: 70%;
    margin: 20px auto;
}
.adv_car_model{
    margin: 1px;
    font-size: 2.5em;
}
.adv_title_tools{
    position: relative;
    margin: 25px auto;
    width: 100%;
}
.adv_tools{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding-left: 5px;
}
.adv_tools li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.4em;
}
.adv_tools li a{
     color: white;
     padding-left: 20px;
 }
.adv_tools li a:hover{
    color: #368ccc;
}
#adv_t_add{
    background: url('../img/adv_add.png') no-repeat;
}
#adv_t_penalty{
    background: url('../img/adv_penalty.png') no-repeat;
}
#adv_t_print{
    background: url('../img/adv_print.png') no-repeat;
}
.adv_price{
    margin: 1px;
    font-size: 2.4em;
    font-weight: normal;
    padding-left: 30px;
    width: 100%;
    margin-top: -53px;
    display: block;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
}
.adv_tag{
    background: url('../img/adv_header_tag.png') no-repeat;
    height: 82px;
    width: 220px;
    margin-top: -27px;
}
#adv_tag_corner{
    display: block;
    position: absolute;
    top: -27px;
    left: -10px;
}
.adv_mh_tagprice{
    display: inline-block;
    position: relative;
    margin: 20px auto;
    float: right;
    width: 20%;
}
.advert_main_content{
    margin: 10px auto;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/** ADVERT MAIN CONTENT **/
.adv_c_tab1,.adv_c_tab2{
    position: relative;
    margin: 0 30px;
    width: 20%;
    height: 100%;
    float: left;
    font-size: 1.6em;
}
.adv_table{
    display: block;
    width: 100%;
}
.adv_table tbody{
    display: block;
    width: 100%;
    padding: 0px 10px;
}
.adv_table tr{
    display: block;
    margin: 20px 10px auto;
}
.adv_t1_social{
    margin-top: 20%;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    width: 110%;
}
#adv_social{
    padding-left: 0px;
    margin: 0 auto;
    list-style: none;
}
#adv_social li{
    display: inline-block;
}
.adv_c_gallery{
    position: relative;
    width: 40%;
    float: right;
    margin: 0 30px auto;
}
.adv_main_img{
    display: block;
    overflow: auto;
}
#adv_img_previous{
    padding: 0px 1px;
    list-style: none;
}
#adv_img_previous li{
    display: inline-block;
    padding: 0px 2px;
}
.adv_c_datablock{
    margin: 10px auto;
}
.adv_c_datablock h3{
    display: inline-block;
    margin: 0px 10px auto;
    font-weight: normal;
}
/** ADVERT EQUIP **/
.advert_equip{
    display: block;
    position: relative;
    margin: 30px auto;
    width: 100%;
}
.equip_header{
    display: block;
    position: relative;
    margin: 0px 30px auto;
    color: #313233;
}
.equip_header h3{
    font-size: 1.7em;
    font-weight: bold;
}
.equip_content{
    position: relative;
   /* margin: 0px 30px auto;*/
    width: 100%;
    overflow: auto;
    color: #313233;
    font-size: 1.4em;
}
.equip_tab1{
     display: block;
     position: relative;
     margin: 0px 30px auto;
     width: 18%;
     float: left;
 }
.equip_tab2{
    display: block;
    position: relative;
    margin: 0px 30px auto;
    width: 18%;
    float: left;
}
.equip_tab3{
    display: block;
    position: relative;
    margin: 0px 30px auto;
    width: 18%;
    float: left;
}
.equip_tab4{
    display: block;
    position: relative;
    margin: 0px 30px auto;
    width: 18%;
    float: left;
}
.equip_table{
    display: block;
    width: 100%;
}
.equip_table thead{
    color:#368ccc;
    font-weight: bold;
   /* margin-bottom: 10px;;*/
}
.equip_table thead tr{
    display: block;
    margin: 0px auto;
}
.equip_table tr{
    display: block;
    margin: 5px auto;
}
/** ADVERT COMMENTS **/
.advert_comments{
    display: block;
    position: relative;
    margin: 20px auto;
    width: 100%;
    overflow: auto;
}
.comments_box{
    position: relative;
    margin:0px 30px auto;
    overflow: auto;
    border: 1px #bcbcbc solid;
    font-size: ;
}
.comment_tab1{
    display: block;
    position: relative;
    width: 49%;
    float: left;
    border-right: 1px #bcbcbc solid;
    min-height: 40em;
}
.comment_tab2{
    display: block;
    position: relative;
    width: 49%;
    float: left;
}
.comment_tab_h{
    border-bottom:1px #bcbcbc solid ;
    width: 104%;
}
.comment_tab_h h3{
    font-size: 1.5em;
    color: #313233;
    padding-left: 20px;
}
.comment_content{
    display: block;
    font-size: 1.3em;
    padding: 10px;
    color: #313233;
}
.comment_footer{
    position: relative;
    margin: 10px 20px auto;
    font-size: 1.5em;
    color: #313233;
    margin-top: 60px;
}
.c_footer_place h3{
    font-size: 1.0em;
}
.c_footer_contacts{
    width: 100%;
    overflow: auto;
}
.footer_tab{
    margin: 10px auto;
    position: relative;
    width: 40%;
    float: left;
}
.f_new_message{
    margin: 10px auto;
}
#new_message{
    font-weight: bold;
    color: #368ccc;
}
#new_message:hover{
    color: #2567cc;
}
.comment_wall{
    display: block;
    margin: 0px auto;
    font-size: 1.3em;
    color: #313233;
    height: 20em;
    overflow-y: scroll;
    width: 104%;
}
.c_reply_box{
    margin-left: 40px;
}
.c_comment_box, .c_reply_box{
    padding: 10px;
}
.c_box_header a{
    color: #368ccc;
}
.c_box_header a:hover{
    color: #2567cc;
}
.c_message_h{
    display: block;
    position: relative;
    border-bottom:1px #bcbcbc solid;
    width: 104%;
    border-top:1px #bcbcbc solid;
}
.c_message_h h3{
    font-size: 1.5em;
    color: #313233;
    padding-left: 20px;
}
.c_message_form{
    font-size: 1em;
    color: #313233;
    font-weight: normal;
    padding-left: 10px;
}
.c_message_form a{
    color: #368ccc;
}
.sp_offer_grid{
    position: relative;
    margin: 30px 30px auto;
}
.sp_offer_grid h3{
    font-size: 1.7em;
    color: #313233;
}
.sp_offer_grid:after {
    content: "";
    display: table;
    clear: both;

}
.sp_offer_box{
    position: relative;
    float: left;
    width: 19.99%;
    padding-left: 50px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3em;
}
.sp_offer_box p{
    margin: 5px auto;
}
.sp_offer_box:last-of-type{
    padding-right: 0;
}
.scroll_img1{
    display: block;
    margin: 0px auto;
    position: relative;
    float: left;
    top: 200px;
}
.scroll_img2{
    display: block;
    margin: 0px auto;
    position: relative;
    float: right;
    top: 200px;
}
.f_news_deep{
    position: relative;
    margin: 30px 30px auto;
    border-bottom:1px #bcbcbc solid;
    border-top:1px #bcbcbc solid;
}
.f_news_deep:after {
    content: "";
    display: table;
    clear: both;
}
.f_news{
     position: relative;
     float: left;
     width: 19.99%;
     margin:10px auto ;
     padding-right: 30px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-size: 1.3em;
 }
.f_news,.f_posts i{
    color: #8a8b8c;
}
.f_news,.f_posts p{
    margin: 10px auto;
    color:#313233;
}
.f_deep_header{
    font-size: 1.3em;
    color:#313233;
    margin: 0px auto;
}
#f_deep_all{
    display: block;
    position: relative;
    margin-top: 20px;
    color: #8a8b8c;
}
#f_deep_all:hover{
    color: #2567cc;
}
.f_posts{
    position: relative;
    float: left;
    width: 39.99%;
    padding-right: 30px;
    margin:10px auto ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3em;
}
.f_p_h{
    margin-bottom: 20px;
}
.f_post_box{
    position: relative;
    overflow: auto;
    margin-bottom:10px ;
}
.f_post_box_h{
    color: #4d4e4f;
}
.f_post_box_h:hover{
    color: #2567cc;
}
.f_post_img{
    display: block;
    position: relative;
    float: left;
    padding-right: 20px;
}
.f_adv_block{
    position: relative;
    float: right;
    width: 39.99%;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3em;
    overflow: auto;
}
.f_adv_img{
    display: block;
    position: relative;
    float: right;
}
.comm_block{
    margin: 20px 30px auto;
    position: relative;
}
.comm_block h3{
    font-size:1.5em;
    margin: 0 auto;
    padding-bottom: 10px;
}
.comm_block:after {
    content: "";
    display: table;
    clear: both;
}
.comm_img{
    position: relative;
    float: left;
    padding-right: 20px;
    padding-top: 10px;
    width: 12.22;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/**sell details style **/
.det_main{
    margin-top: 20px;
    position: relative;
    background-color: #313233;
    color: white;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sell_tagprice{
    display: block;
    position: relative;
    background: url("../img/det_tag.png") no-repeat;
    height: 46px;
    width: 100%;
    top: -7px;
    left: 20px;
}
#sell_price{
    margin: 0px auto;
    padding-top: 15px;
    font-size: 1.5em;
    width: 230px;
    float: left;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
}
.sell_det_form{
    display: block;
    position: relative;
    margin: 10px 30px auto;
}
.sell_det_form:after {
    content: "";
    display: table;
    clear: both;
}
.input_block{
    display: block;
    position: relative;
    float: left;
    padding-right: 40px;
    margin-top: 10px;
    width: 24.22%;
    height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form_att{
    display: block;
    position: relative;
    float: right;
    top: -23px;
}
.input_w_block{
    display: block;
    position: relative;
    float: left;
    padding-right: 30px;
    margin-top: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sell_det_input{
    width: 100%;
}
input[type="email"] {
    padding: 5px;
    border: none;
    background-color: #323232;
    -moz-box-shadow: 0 0 3px #121212;
    -webkit-box-shadow: 0 0 3px #121212;
    box-shadow: 0 0 3px #121212;
    color: #bcbcbc;
}
.sell_det_textarea{
    display: block;
    padding: 5px;
    border: 1px solid #323232;
    border-radius: 4px;
    background-color: #323232;
    webkit-box-shadow: rgba(191, 191, 191, 0.40) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(191, 191, 191, 0.40) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(191, 191, 191, 0.40) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    color: #bcbcbc;
    width: 100%;
    min-height: 200px;
    resize: vertical;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
/** CAR INFO STYLE **/
.car_info{
    position: relative;
    background-color: #3d90ce;
    color: white;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px;
}
.car_info_header{
    margin: 0px auto;
    padding: 20px 0px;
    font-size: 1.3em;
}
.car_info_form{
    display: block;
    margin: 0px auto;
    position: relative;

}
.car_info_form span{
    font-size: 1.1em;
}
.car_info_form:after {
    content: "";
    display: table;
    clear: both;
}
.car_input{
    border: 1px solid #3C79A8;
    background: #3d8fce;
    background: -webkit-gradient(linear, left top, left bottom, from(#3f9edf), to(#3171a3));
    background: -webkit-linear-gradient(top, #3f9edf, #3270a3);
    background: -moz-linear-gradient(top, #3f9edf, #3270a3);
    background: -ms-linear-gradient(top, #3f9edf, #3270a3);
    background: -o-linear-gradient(top, #3f9edf, #3270a3);
    background-image: -ms-linear-gradient(top, #3f9edf 0%, #3270a3 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     width: 206px;
     box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(0, 0, 0, 0.40) 0 1px 0;
     text-shadow: #242424 0 1px 0;
     color: #e3e3e3;
     font-family: helvetica, serif;
     padding: 5px;
     font-size: 1.3em;
     text-decoration: none;
     vertical-align: middle;
     background:url("../img/car_input.png") no-repeat ;
     -webkit-appearance: none;
}
.form_car_att{
    display: inline;
    position: relative;
    padding-left: 5px;
}
.car_form_label{
    display: inline-block;
    margin: 0px;
    position: relative;
    width: 75px;
    font-size: 1.2em;
}
.car_form_label2{
    display: inline-block;
    margin: 0px;
    position: relative;
}
.car_text_input{
    padding: 5px;
    border: none;
    background-color: #3270a3;
    -moz-box-shadow: 0 0 3px #121212;
    -webkit-box-shadow: 0 0 3px #121212;
    box-shadow: 0 0 3px #121212;
    color: #bcbcbc;
    width: 100px;
}
.car_info_form .input_block{
    padding-right: 0px;
}
.det_gallery{
    position: relative;
}
.det_gallery:after {
    content: "";
    display: table;
    clear: both;
}
.det_g_block{
    position: relative;
    float: left;
    margin-right: 20px;
    padding-top: 10px;
    width: 12.22%;
    min-height: 100px;
    background-color: #3f9edf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.det_action{
    position: relative;
    margin: 20px auto;
    margin-right: 30px;
}
#det_action_label{
    display: inline-block;
    position: relative;
    width: 40%;
    padding: 0px 80px;
    text-align: center;
    font-size: 1.3em;
}

/**======BUTTON STYLE==========**/
.det_img_download{
    position: relative;
    border: 0px solid #0a3c59;
    background: #0d5b8f;
    background: -webkit-gradient(linear, left top, left bottom, from(#61bdfa), to(#0d5b8f));
    background: -webkit-linear-gradient(top, #61bdfa, #0d5b8f);
    background: -moz-linear-gradient(top, #61bdfa, #0d5b8f);
    background: -ms-linear-gradient(top, #61bdfa, #0d5b8f);
    background: -o-linear-gradient(top, #61bdfa, #0d5b8f);
    background-image: -ms-linear-gradient(top, #61bdfa 0%, #0d5b8f 100%);
    padding: 11px 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #2f5a75 0 1px 0;
    color: #ffffff;
    font-size: 15px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}
.det_img_download:hover {
    border: 0px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #003a61;
    background: -webkit-gradient(linear, left top, left bottom, from(#29a0f5), to(#003a61));
    background: -webkit-linear-gradient(top, #29a0f5, #003a61);
    background: -moz-linear-gradient(top, #29a0f5, #003a61);
    background: -ms-linear-gradient(top, #29a0f5, #003a61);
    background: -o-linear-gradient(top, #29a0f5, #003a61);
    background-image: -ms-linear-gradient(top, #29a0f5 0%, #003a61 100%);
    color: #d4d4d4;
}
.det_img_download:active {
    text-shadow: #1e4158 0 1px 0;
    border: 0px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#003a61));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}
.det_action_add{
    position: relative;
    float: right;
    border: 2px solid rgba(63, 158, 223, 0.57);
    background: #0d4a7e;
    background: -webkit-gradient(linear, left top, left bottom, from(#61bdfa), to(#0d5b8f));
    background: -webkit-linear-gradient(top, #61bdfa, #0d5b8f);
    background: -moz-linear-gradient(top, #61bdfa, #0d5b8f);
    background: -ms-linear-gradient(top, #61bdfa, #0d5b8f);
    background: -o-linear-gradient(top, #61bdfa, #0d5b8f);
    background-image: -ms-linear-gradient(top, #61bdfa 0%, #0d5b8f 100%);
    padding: 11px 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #283f56 0 1px 0;
    color: #ffffff;
    font-size: 18px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}
.det_action_add:hover {
    border: 0px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #003a61;
    background: -webkit-gradient(linear, left top, left bottom, from(#29a0f5), to(#003a61));
    background: -webkit-linear-gradient(top, #29a0f5, #003a61);
    background: -moz-linear-gradient(top, #29a0f5, #003a61);
    background: -ms-linear-gradient(top, #29a0f5, #003a61);
    background: -o-linear-gradient(top, #29a0f5, #003a61);
    background-image: -ms-linear-gradient(top, #29a0f5 0%, #003a61 100%);
    color: #d4d4d4;
}
/** BALISH STYLE END HERE **/


/** Special Offers **/
#special_offers {
    width: 100%;
    /*height: 790px;*/
    position: relative;
    top: 25px;
    margin: 0 auto;
}
#special_offers .left {
    position: relative;
    float: left;
    left: 3%;
    top: 20px;
    width: 25%;
    height: 530px;
}

#special_offers .left strong {
    font-size: 1.4em;
    position: relative;
    bottom: 20px;
}

#special_offers .left li {
    list-style: none;
    line-height: 170%;
    display: block;
}

#special_offers .left .advertisementB {
    bottom: 0;
    position: absolute;
}

#special_offers .center {
    position: relative;
    float: left;
    left: 3%;
    top: 20px;
    width: 44%;
}

#special_offers .center strong {
    left: 4%;
    font-size: 1.4em;
    position: relative;
    bottom: 20px;
}

#special_offers .center li {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 20%;
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: 0.74em;
}

#special_offers .right {
    position: relative;
    float: right;
    right: 3%;
    width: 25%;
    height: 550px;
}

#special_offers .right .advertisementC {
    position: relative;
    width: 219px;
    height: 334px;
    background-image: url('../img/advertisement C.png');
    float: right;
}

#special_offers .right .advertisementB {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#special_offers .bottom {
    position: relative;
    width: 100%;
    left: 3%;
    top: 25px;
}

#special_offers .bottom .news_block {
    position: relative;
    width: 23%;
    float: left;
    margin-right: 1%;
}

#special_offers .bottom .last {
    float: right;
    position: relative;
    right: 2%;
}

#special_offers strong.news {
    font-size: 1.4em;
    left: 3%;
    top: 25px;
    position: relative;
}

.news_title {
    font-size: 1em;
    color: #232323;
    text-shadow: 0 0 2px #323232;
    position: relative;
    margin-bottom: 15px;
}

.news_content {
    font-size: 1em;
    color: #bcbcbc;
    text-shadow: 0 0 1px #bcbcbc; 
}

.advertisementA.bottom {
    position: relative;
    top: 80px;
}

.autobot {
    background-image: url('../img/autobot.png');
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    top: 80px;
    color: #FFF;
    padding-top: 20px;
    text-align: center;
}

.autobot .left {
    position: absolute;
    left: 10%;
    width: 20%;
}

.autobot .center {
    position: absolute;
    left: 40%;
    width: 20%;
}

.autobot .right {
    position: absolute;
    left: 70%;
    width: 20%;
}

.clear {
    clear: both;
}

.footer {
    background: url('../img/footer.png') repeat-x;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 208px;
    top: 80px;
}

.footer .top {
    width: 100%;
    height: 50px;
    position: relative;
}

.footer .middle {
    width: 100%;
    height: 112px;
    position: relative;
}

.footer .social {
    position: relative;
    float: right;
    top: 16px;
    width: 210px;
}

.social p {
    float: left;
    padding-right: 10px;
    position: relative;
    bottom: 5px;
}

.middle .media {
    position: relative;
    width: 22%;
    margin-right: 10px;
    height: 111px;
    float: left;
    top: 22px;
    left: 3%;
}

.media ul {
    list-style: none;
}

.media ul li {
    position: relative;
    left: -40px;
    top: -10px;
}

.footer .bottom {
    height: 43px;
    width: 100%;
    position: relative;
}

.bottom .left {
    float: left;
}

.bottom .right {
    float: right;
    position: relative;
    top: 5px;
    right: 50px;
}

.bottom .left p {
    width: 300px;
}

.bottom .right input[type="text"] {
    padding: 10px;
    color: #bcbcbc;
    background-color: white;
    border: none;
    -moz-box-shadow: 0 0 0 #121212;
    -webkit-box-shadow: 0 0 0 #121212;
    box-shadow: 0 0 0 #121212;
}